:root {
  --popper-theme-background-color: #ffffff;
  --popper-theme-background-color-hover: #ffffff;
  --popper-theme-text-color: #333333;
  --popper-theme-border-width: 1px;
  --popper-theme-border-style: solid;
  --popper-theme-border-color: #eeeeee;
  --popper-theme-border-radius: 6px;
  --popper-theme-padding: 10px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

.dynamic-table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
  // border: 1px solid;
}
.icon {
  height: 15px;
  padding-right: 5px;
  padding-left: 5px; 
}

.btn {
  cursor: pointer;
  color: #2320d3;
}

.w-100 {
  width: 100%;
}

.hand {
  cursor: pointer;
}

.not-select-text {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.box {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.d-flex {
  display: flex;
  align-items: center;
}
.align-items-center {
  display: flex;
  align-items: center;
}
.justify-content-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.justify-content-start {
  display: flex;
  align-items: center;
  justify-content: start;
}
.justify-content-end {
  display: flex;
  align-items: center;
  justify-content: end;
}
